<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
  
    <!-- <h1>TEST TEST</h1> -->


    <div class="bookInfo">
      <ul class="deck">
        <section class="card">
          <img src= <%= specificBook.image_url %> />
          <li class="title"> <%= specificBook.title %> </li>
          <li class="author"> <%= specificBook.author %> </li>
          <li class="description"> <%= fullDescription.description %> </li>
         </section>
      </ul>
    </div>


    <form id="create-form" action="/add/<%= specificBook.isbn %>" method="POST">
      <fieldset>
        <legend>Details for this book</legend>
        <input type="hidden" name="title" value="<%= specificBook.title %>">
        <input type="hidden" name="author" value="<%= specificBook.author %>">
        <input type="hidden" name="image_url" value="<%= specificBook.image_url %>">
        <input type="hidden" name="description" value="<%= specificBook.description %>">
        <input type="hidden" name="isbn" value="<%= specificBook.isbn %>">
        <input type="text" name="bookshelf" placeholder="Please enter a genre" required>

        <button type="submit" class=".button">Add to Collection</button>
      </fieldset>
    </form>

    <%- include('../layout/footer') %>
</body>
</html>