<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
  <h1>These are your saved books</h1>
  <% for(let i = 0; i < myBooks.length; i++) { %> 
    <div class=bookInfo>
      <ul>
        <img src= <%= myBooks[i].image_url %> />
        <li> <%= myBooks[i].title %> </li>
        <li> <%= myBooks[i].author %> </li>
        <li> <%= myBooks[i].description %> </li>
        <li> <%= myBooks[i].ISBN %> </li>
      </ul>
    </div>
    <% } %>
    <%- include('../layout/footer') %>
</body>
</html>