<%- include('../../layout/head') %>
<body>
    <%- include('../../layout/header') %>

  <h2>These books are from your search query!</h2>

  <% for(let i = 0; i < myBooks.length; i++) { %> 
  
    <div class="bookInfo">
    <ul class="deck">
      <a href="/books/<%=myBooks[i].isbn %>"><img src= <%= myBooks[i].image_url %> /></a>
      <section class="card">
      <li> <%= myBooks[i].title %> </li>
      <li> <%= myBooks[i].author %> </li>
      <li> <%= myBooks[i].description %> </li>
      <!-- <li> <%= myBooks[i].isbn %> </li> -->
      </section>
    </ul>
    <a href="/books/<%=myBooks[i].isbn %>"><button>View more details</button></a>
  </div>

    <form id="save-book" action="/add/<%= myBooks[i].isbn %>" method="POST">
      <fieldset>
        <input type="hidden" name="isbn" value="<% myBooks[i].isbn %>" >
        <button id="library-button" type="submit">Add to library</button>
      </fieldset>
    </form>    
    <% } %>
    <%- include('../../layout/footer') %>
</body>
</html>