<%- include('../../layout/head') %>
<body>
    <%- include('../../layout/header') %>
  <h1>These books are from your search query!</h1>

  <% for(let i = 0; i < myBooks.length; i++) { %> 

  <div class="bookInfo">
    <ul class="deck">
      <section class="card">
        <a href="/books/<%=myBooks[i].isbn %>"><img src= <%= myBooks[i].image_url %> /></a>
        <li class="title"> <%= myBooks[i].title %> </li>
        <li class="author"> <%= myBooks[i].author %> </li>
        <li class="description"> <%= myBooks[i].description %> </li>
        <!-- <li> <%= myBooks[i].isbn %> </li> -->
    </section>
    </ul>

  </div>
  <div id="book-buttons">
    <a href="/books/<%=myBooks[i].isbn %>"><button>View more details</button></a>
    <form id="save-book" action="/add/<%= myBooks[i].isbn %>" method="POST">
      <fieldset>
        <input type="hidden" name="isbn" value="<% myBooks[i].isbn %>" >
        <button type="submit">Add to library</button>
      </fieldset>
    </form>
  </div>    
    <% } %>
    <%- include('../../layout/footer') %>
</body>
</html>